.wrapper {
  border: 1px solid var(--color-accent);
  display: grid;
  grid-template-columns: 1fr 9fr;
  grid-gap: 10px;
  grid-template-areas:
    'photo name'
    'photo info';
}

.photo {
  border-radius: 50%;
  grid-area: photo;
}

.name {
  grid-area: name;
}

.info {
  grid-area: info;
}
